{% extends "base.html" %}

{% block content %}

<form action="{% url planadate.views.activity_add %}" method="POST">
    {{activity_form}}
    <input type='submit' value='OK'/>
</form>-->

<h3>Activities so far</h3>
<ul>
{% for activity in activities %}
  <li> 
      Activiteit: {{activity.name}}
      Prijs: {{activity.price}}
      Tags:
      {% for tag in activity.tags %}
            {{tag.name}}
      {% endfor %}
      Minimum Duration: {{activity.duration_min}}
      Maximum Duration: {{activity.duration_max}}
  </li>
{% endfor %}
</ul>
{% endblock content %}