{% extends "base.html" %}
{% load template_filters %}

{% block content %}

<h3>Activities so far</h3>

<form action="{% url planadate.views.activities %}" method="POST">
    <table>
        <tr>
        <td>Activiteit</td>
        <td>Prijs (centen, int)</td>
        <td>Tags</td>
        <td>Minimum duration (uren, float)</td>
        <td>Maximum duration (uren, float)</td>
        </tr>
    {% for activity in activities %}
        <tr>
        <td>{{activity.name}}</td>
        <td>{{activity.price}}</td>
        <td>
          {% for tag in activity.tags %}
                {{tag.name}},
          {% endfor %}
        </td>
         <td>{{activity.duration_min.seconds|secondsToHours}}</td>
         <td>{{activity.duration_max.seconds|secondsToHours}}</td>
         <td><a href="{% url planadate.views.activity_edit activity.key.id %}">Edit</a></td>
        </tr>
    {% endfor %}

    <tr>
        <td><input type="text" name="name" value=""/></td>
        <td><input type="text" name="price" value=""/></td>
        <td><input type="text" name="tags" value=""/></td>
         <td><input type="text" name="duration_min" value=""/></td>
         <td><input type="text" name="duration_max" value=""/></td>
         <td><input type="submit" value='Save'></td>
    </tr>
    </table>
</form>

{% endblock content %}