<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}Plan a Date{%endblock%}</title>
    <link rel="stylesheet" href="/static/theme/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    
</head>

<body>
    <div id="header">
    </div>
    <div class="container">
    {% block content %}

    Dit is de base template.

    {% endblock content %}
    
    </div>

    <div id="footer">
        &copy; 2011 Plan-a-date
    </div>

</body>

</html>