<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}Plan a Date{%endblock%}</title>
    <link rel="stylesheet" href="/static/theme/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script src="/static/js/backend.js"></script>
</head>

<body>
    <div id="header">
	{% block extra_header %}
	{% endblock extra_header %}
    </div>
    <div class="container">
    {% block content %}

    Dit is de base template.
    
    {% endblock content %}
    
    </div>

    <div id="footer">
        &copy; 2011 Plan-a-date
    </div>

</body>

</html>