{% extends "base.html" %}

{% block content %}

<form action="{% url planadate.views.place_add %}" method="POST">
<h3>Search</h3>
<input name="search_term" type="text" />

<h3>Results</h3>
<ul>
{% for result in results %}
  <li>
		<input type='radio' name='picked_place' id='option-{{result.name}}' value='{{result.reference}}' /> <label for='option-{{result.name}}'>{{result.name}}, {{result.vicinity}}</label></li>
{% endfor %}
</ul>
<h3>Meta-data</h3>
<h4>activities</h4>
{% for activity in current_activities %}
<input type='checkbox' name='activity' value='{{activity}}'> {{ activity }}
{% endfor %}

<p><input type='submit' value='OK'></p>

</form>

<h3>Places so far</h3>
<ul>
{% for place in places %}
  <li>{{place.name}}</li>
{% endfor %}
</ul>
{% endblock content %}