{% extends "base.html" %}

{% block content %}

<form action="{% url planadate.views.place_add %}" method="POST">
<h3>Search</h3>
<input name="search_term" type="text" />
<input type="hidden" name="search" value="true">
<p><input type='submit' value='Search place'></p>
</form>

<form action="{% url planadate.views.place_add %}" method="POST">
<input type="hidden" name="add" value="true">
<h3>Results</h3>
<ul>
{% for result in results %}
  <li>
		<input type='radio' name='picked_place' id='option-{{result.name}}' value='{{result.reference}}' /> <label for='option-{{result.name}}'>{{result.name}}, {{result.vicinity}}</label></li>
{% endfor %}
</ul>
<h3>Meta-data</h3>
<h4>Activities</h4>
<p>
{% for activity in current_activities %}
<input type='checkbox' name='activities' value='{{activity}}'> {{ activity }}
{% endfor %}
</p>

<h4>Tags</h4>
<p>
	<ul>
{% for tag in current_tags %}
<li><input type='checkbox' id='tag-{{tag}}' name='tag-{{tag}}' value='1'><label for='{{ tag }}'> {{ tag }}</label></li>
{% endfor %}
<li><input type='checkbox' name='newtag1' value='1'><input type='text' name='newtag1-value'></li>
<li><input type='checkbox' name='newtag2' value='1'><input type='text' name='newtag2-value'></li>
<li><input type='checkbox' name='newtag3' value='1'><input type='text' name='newtag3-value'></li>
</ul>
</p>

<p><input type='submit' value='Add place'></p>

</form>

<a href="/places/">Show all places</a>

{% endblock content %}